/*
Font: 		Ponder
Style: 		Extralight Italic
URL: 		https://www.youworkforthem.com/font/T11305/ponder
Foundry: 	TypeUnion
Foundry: 	https://www.youworkforthem.com/designer/420/typeunion
Copyright:	Copyright © 2019 by TypeUnion. All rights reserved.
Version: 	17
Created:	September 19, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Ponder-ExtralightItalic';
	src: url('ponder-extra-light-italic.eot');
	src: url('ponder-extra-light-italic.eot?#iefix') format('embedded-opentype'),
             url('ponder-extra-light-italic.woff2') format('woff2'),
	     url('ponder-extra-light-italic.woff') format('woff'),
	     url('ponder-extra-light-italic.ttf') format('truetype'),
	     url('ponder-extra-light-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
